# Maven build output
target/
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Local Maven binaries
maven/

# IDE configurations
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logging & OS files
*.log
.DS_Store
Thumbs.db

# Dynamic upload files
uploads/
src/main/resources/static/uploads/

# Crash dumps
clear_log.sh
